/*Header
======================================*/
body { padding-top: 53px; }

/*Static carousel
======================================*/
.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border: 2px solid #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}


/*Responsive Nav
======================================*/
@media (max-width: 767px) {
.navbar-form .btn {

width: 100% !important;
}
}


/*File button
======================================*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


#view-img{
    display: block;
    margin-left: auto;
    margin-right: auto }
}









